<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
    <title>Реєстрація</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth_style.css}">
</head>
<body>
	<div class="conteiner">
		<div class="content">
			<div class="nameForm">
				<hr/>
				<div>Реєстрація</div>
			</div>
			<form class="info" th:action="@{/auth/registration}" th:method="POST" th:object="${person}">
				<input type="text" th:field="*{username}" placeholder="Логін">
				<div th:if="${#fields.hasErrors('username')}" class="error">
					<div th:errors="*{username}"></div>
				</div>
				<input type="text" th:field="*{email}" placeholder="Пошта">
				<div th:if="${#fields.hasErrors('email')}" class="error">
					<div th:errors="*{email}"></div>
				</div>
				<input type="password" th:field="*{password}" placeholder="Пароль">
				<div th:if="${#fields.hasErrors('password')}" class="error">
					<div th:errors="*{password}"></div>
				</div>
				<input type="submit" value="Реєстрація">
			</form>
			<div class="toOtherAuth">
				<div><p>Вже зареєстровані?</p></div>
				<div><a th:href="@{/auth/login}">Вхід</a></div>
			</div>
		</div>
	</div>
</body>
</html>